In [1]:
import pandas as pd


df = pd.read_csv("data/student-mat.csv", sep=";")
print(df.head()) # so we have  [5 rows x 33 columns]

  school sex  age address famsize Pstatus  Medu  Fedu     Mjob      Fjob  ...  \
0     GP   F   18       U     GT3       A     4     4  at_home   teacher  ...
1     GP   F   17       U     GT3       T     1     1  at_home     other  ...
2     GP   F   15       U     LE3       T     1     1  at_home     other  ...
3     GP   F   15       U     GT3       T     4     2   health  services  ...
4     GP   F   16       U     GT3       T     3     3    other     other  ...

  famrel freetime  goout  Dalc  Walc health absences  G1  G2  G3
0      4        3      4     1     1      3        6   5   6   6
1      5        3      3     1     1      3        4   5   5   6
2      4        3      2     2     3      3       10   7   8  10
3      3        2      2     1     1      5        2  15  14  15
4      4        3      2     1     2      5        4   6  10  10

[5 rows x 33 columns]

In [2]:
print(df.isnull().sum())
print(df.nunique())
print(df.dtypes)

school        0
sex           0
age           0
address       0
famsize       0
Pstatus       0
Medu          0
Fedu          0
Mjob          0
Fjob          0
reason        0
guardian      0
traveltime    0
studytime     0
failures      0
schoolsup     0
famsup        0
paid          0
activities    0
nursery       0
higher        0
internet      0
romantic      0
famrel        0
freetime      0
goout         0
Dalc          0
Walc          0
health        0
absences      0
G1            0
G2            0
G3            0
dtype: int64
school         2
sex            2
age            8
address        2
famsize        2
Pstatus        2
Medu           5
Fedu           5
Mjob           5
Fjob           5
reason         4
guardian       3
traveltime     4
studytime      4
failures       4
schoolsup      2
famsup         2
paid           2
activities     2
nursery        2
higher         2
internet       2
romantic       2
famrel         5
freetime       5
goout          5
Dalc           5
Walc           5
health         5
absences      34
G1            17
G2            17
G3            18
dtype: int64
school        object
sex           object
age            int64
address       object
famsize       object
Pstatus       object
Medu           int64
Fedu           int64
Mjob          object
Fjob          object
reason        object
guardian      object
traveltime     int64
studytime      int64
failures       int64
schoolsup     object
famsup        object
paid          object
activities    object
nursery       object
higher        object
internet      object
romantic      object
famrel         int64
freetime       int64
goout          int64
Dalc           int64
Walc           int64
health         int64
absences       int64
G1             int64
G2             int64
G3             int64
dtype: object

so the data type in int and theres no null values in our dataset

In [3]:
df = pd.get_dummies(df, drop_first=True)
print(df)

     age  Medu  Fedu  traveltime  studytime  failures  famrel  freetime  \
0     18     4     4           2          2         0       4         3
1     17     1     1           1          2         0       5         3
2     15     1     1           1          2         3       4         3
3     15     4     2           1          3         0       3         2
4     16     3     3           1          2         0       4         3
..   ...   ...   ...         ...        ...       ...     ...       ...
390   20     2     2           1          2         2       5         5
391   17     3     1           2          1         0       2         4
392   21     1     1           1          1         3       5         5
393   18     3     2           3          1         0       4         4
394   19     1     1           1          1         0       3         2

     goout  Dalc  ...  guardian_mother  guardian_other  schoolsup_yes  \
0        4     1  ...             True           False           True
1        3     1  ...            False           False          False
2        2     2  ...             True           False           True
3        2     1  ...             True           False          False
4        2     1  ...            False           False          False
..     ...   ...  ...              ...             ...            ...
390      4     4  ...            False            True          False
391      5     3  ...             True           False          False
392      3     3  ...            False            True          False
393      1     3  ...             True           False          False
394      3     3  ...            False           False          False

     famsup_yes  paid_yes  activities_yes  nursery_yes  higher_yes  \
0         False     False           False         True        True
1          True     False           False        False        True
2         False      True           False         True        True
3          True      True            True         True        True
4          True      True           False         True        True
..          ...       ...             ...          ...         ...
390        True      True           False         True        True
391       False     False           False        False        True
392       False     False           False        False        True
393       False     False           False        False        True
394       False     False           False         True        True

     internet_yes  romantic_yes
0           False         False
1            True         False
2            True         False
3            True          True
4           False         False
..            ...           ...
390         False         False
391          True         False
392         False         False
393          True         False
394          True         False

[395 rows x 42 columns]

In [ ]:
# !pip install scikit-learn
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
num_cols = ['age', 'absences', 'G1', 'G2']
df[num_cols] = scaler.fit_transform(df[num_cols])

In [6]:
df['avg_grade'] = (df['G1'] + df['G2']) / 2

print(df.head())

        age  Medu  Fedu  traveltime  studytime  failures  famrel  freetime  \
0  1.023046     4     4           2          2         0       4         3
1  0.238380     1     1           1          2         0       5         3
2 -1.330954     1     1           1          2         3       4         3
3 -1.330954     4     2           1          3         0       3         2
4 -0.546287     3     3           1          2         0       4         3

   goout  Dalc  ...  guardian_other  schoolsup_yes  famsup_yes  paid_yes  \
0      4     1  ...           False           True       False     False
1      3     1  ...           False          False        True     False
2      2     2  ...           False           True       False      True
3      2     1  ...           False          False        True      True
4      2     1  ...           False          False        True      True

   activities_yes  nursery_yes  higher_yes  internet_yes  romantic_yes  \
0           False         True        True         False         False
1           False        False        True          True         False
2           False         True        True          True         False
3            True         True        True          True          True
4           False         True        True         False         False

   avg_grade
0  -1.518629
1  -1.651723
2  -0.950781
3   1.054424
4  -0.835423

[5 rows x 43 columns]